.note {
    width: 21.25vw;
    // height: 30vh;
    border-radius: 10px;
    border: 1px solid #E6E4F0;
    display: flex;
    flex-direction: column;
    margin-top: 10px;


    .flexcont {
        margin-top: 2%;
        // margin-left: 2%;
        display: flex;
        justify-content: space-between;

        .docicon {
            margin-left: 4%;
            height: 20px;
        }

        .date {
            color: #A3A3A3;
            width: 15vw;
            padding-left: 4%;
        }

        .threedots {
            margin-right: 4%;
            width: 15px;
        }
    }



    .theme {
        font-weight: 500;
        font-size: medium;
        padding: 3% 3% 0% 3%;
        color: #4F4F4F;
        // margin: 3%
    }

    .text {
        color: #999999;
        font-weight: 400;
        font-size: small;
        padding: 0% 3% 0% 3%;
    }

    .categories {
        display: flex;
        padding: 3% 3% 3% 3%;
        font-size: small;
    }

}