
$cardBgColor : rgb(255, 255, 255);
$fontFamily: 'Plus Jakarta Sans', sans-serif;
$colorShortDesc: #56555C;
$borderColor: #E6E4F0;
$imgKey: random(1)+3;
$bgImg: url('/client/src/assets/gradient#{$imgKey}.png');

.container{
  flex-shrink: 1;
  padding: 1.5vh 1.5vh 3vh 1.5vh;
  background-color: $cardBgColor;
  border-radius: 1vh;
  border: .2vh solid $borderColor;
  transition: .3s ease-in-out;

}
.imgBlock{
  height: 17vh;
  border-radius: 1vh;
  overflow: hidden;
}
.mainInfo{
  margin-top: 2vh;
  display: grid;
  grid-template-columns: 1fr 3.5fr;
  grid-column-gap: 0.5vw;
}
.img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logoBlock{
  display: grid;
  justify-content: center;
  align-self: center;
}
.logo{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  max-height: 45px;
  object-fit: cover;
}
.aboutTitle{
  display: grid;
  grid-template-columns: 3fr 1fr;
  font-family: $fontFamily;
  color: black;
  font-size: 1em;
  font-weight: 700;
}
.btnBlock{
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
  button{
    @include buttonStyle(inherit);
    @include fontStyle(1.3em, 600);
    color: black;
    padding: 0;
    &:disabled{
      color: #56555C;
    }
  }
}
.controlBtns{
  position: absolute;
  bottom: 90%;
  right: 30%;
  width: 10vw;
  height: 9vh;
  background-color: #e5e5e5;
  border-radius: 1vh 1vh 0 1vh;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 0.1vh;
  padding: 0.2vh 0;
  a{
    width:100%;
    height: 100%;
    text-decoration: none;
    border-radius: 1vh 1vh 0 0;
    >button{
      border-radius: 1vh 1vh 0 0;
    }
  }


  button{
    width: 100%;
    height: 100%;
    @include buttonStyle(white);
    color: black;
    font-size: 0.8em;
    font-weight: 500;
    padding: 0;
    border-radius: 0 0 0 1vh;
    &:hover{
      background-color: #ececec;
    }
  }
}
.aboutShortDesc{
  color: $colorShortDesc;
  font-size: 0.8em;
  font-weight: 600;
}
.tagContainer{
  width: 95%;
  margin: 2vh auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.5vw;
  row-gap: 1vh;
}
