
$blueText : rgb(85,119,255);
$blueBg : rgb(85,119,255,0.2);
$redText : rgb(253,113,175);
$redBg : rgb(253,113,175,0.2);
$greenText : rgb(0,184,132);
$greenBg : rgb(0,184,132, 0.2);
$tagFont : 'Plus Jakarta Sans', sans-serif;

.blueTag, .greenTag, .redTag{
  padding: 0 .7vw;
  font-size: 0.9em;
  font-family: $tagFont;
  font-weight: 600;
  border-radius: 10vh;
  margin-right: 1%;
}
.blueTag{
  color: $blueText;
  background-color: $blueBg;
}
.greenTag{
  color: $greenText;
  background-color: $greenBg;
}
.redTag{
  color: $redText;
  background-color: $redBg;
}