
.container{
  margin: 5vh auto;
  display: flex;
  flex-wrap: nowrap;
  background-color: white;
  padding: 1vh 0;
  border-radius: 10vh;
  align-items: center;
  box-shadow: rgba(173, 173, 173, 0.1) 0 4px 16px, rgba(143, 143, 143, 0.1)
  0 8px 24px, rgba(143, 143, 143, 0.1) 0 16px 56px;
}
.searchIcon, .searchReset{
  width: 3vw;
  @include gridCentralized();
  button {
    @include buttonStyle(inherit);
    @include fontStyle(1em, 500);
    color: #707070;
    transition: .3s ease-in-out;
    &:hover{
      color: black;
    }
  }
}

.searchInput{
  width: 100%;
  text-align: center;
  padding: 0 2vw;
  input{
    width:100%;
    padding: 0.5vh 0;
    border: 0;
    outline: none;
    background-color: inherit;
    @include fontStyle(0.9em, 500)
  }
}