.container {
    display: flex;

    .notes-container {
        width: 24.4vw;

        .bar {
            height: 100vh;
            border-left: 1px solid #E6E4F0;

            img {
                width: 17px;
            }

            .notes-first-line {
                display: flex;
                justify-content: space-between;
                padding: 3% 7% 3% 7%;
                border-bottom: 1px solid #E6E4F0;

                .notes-first-child {
                    display: flex;
                    align-items: center;
                    width: 20vw;

                    span {
                        font-size: large;
                        margin-left: 1%;
                    }
                }
            }

            .notes {
                display: flex;
                flex-direction: column;
                align-items: center;
                max-height: 90vh;
                overflow-y: auto;
            }
        }
    }
}
