/* Error: Undefined mixin.
 *     ,
 * 105 |     @include buttonStyle(#ff4a4a)
 *     |     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *     '
 *   cardOpened.module.scss 105:5  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a     \2577 \a 105 \2502      @include buttonStyle(#ff4a4a)\d\a     \2502      ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a     \2575 \a   cardOpened.module.scss 105:5  root stylesheet";
}
