/* Error: Undefined mixin.
 *    ,
 * 43 |   @include fontStyle(1em, 600);
 *    |   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   kanbanCard.module.scss 43:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 43 \2502    @include fontStyle(1em, 600);\d\a    \2502    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   kanbanCard.module.scss 43:3  root stylesheet";
}
